@{
    ViewData["Title"] = "State management using TempData";
}

<h1>@ViewData["Title"]</h1>

@{
    <div>
        <a asp-action="Second">Go to Second</a>
    </div>
    <div>
        <a asp-action="Third">Go to Third</a>
    </div>
}