@*
    create login form and also extract return url
*@
@{
    ViewData["Title"] = "Login";
}
@{
    string retUrl = ViewData["returnURL"] as string;
}
<form
  method="post"
  action="Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(retUrl)"
>
  <label>Username</label>
  <input type="text" name="username" /><br />
  <label>Password</label>
  <input type="text" name="password" /><br />
  <input type="submit" name="submit" value="login" />
</form>
