@{
    ViewData["Title"] = "Private Page";
}
<h1>Welcome to @ViewData["Title"]</h1>

<p>This is private page which is only available to authenticated users.</p>
<p>It doesnot need authorization as users of all roles are given access to this page.</p>
