@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Student</h1>

<div>
    <form asp-action="Add" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>