@model PrimeEFCoreB.Models.Student

<form action="InsertStudent" method="post">
    <!-- Name -->
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" />
    </div>

    <!-- Gender -->
    <label for="Gender">Gender</label>
    <input type="text" id="Gender" name="Gender" />

    <!-- Address-->
    <label for="Address">Address</label>
    <input type="text" id="Address" name="Address" />

    <!-- Faculty -->

    <label for="Faculty">Faculty</label>
    <input type="text" id="Faculty" name="Faculty" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="Index" class="btn btn-secondary">Cancel</a>
</form>