@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-gradient-color: #031c8a;
    --secondary-gradient-color: #65cab4;
    --body-font: 'Poppins', sans-serif;
    --linear-gradient: linear-gradient(135deg, var(--primary-gradient-color), var(--secondary-gradient-color));
    --linear-gradient-reverse: linear-gradient(-135deg, var(--primary-gradient-color), var(--secondary-gradient-color));
    --inserted: #008a05;
    --error: #be1003;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--linear-gradient);
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 2rem;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: var(--linear-gradient);
}

.content form .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: var(--secondary-gradient-color);
}

.user-details .input-box input[type="file"] {
    height: auto;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
    margin-top: 5px;
}

.user-details .input-box input[type="file"]:focus,
.user-details .input-box input[type="file"]:valid {
    border: none;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--linear-gradient);
}

form .button input:hover {
    transform: scale(0.99);
    background: var(--linear-gradient-reverse);
}

.php-value {
    font-weight: 500;
    border-bottom: 1px solid var(--secondary-gradient-color);
    padding: 1rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: #d1e7ff70;
    margin-bottom: 10px;
    border-radius: 10px;
}

.inserted {
    color: var(--inserted);
}

.error {
    color: var(--error);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}