@{
    ViewData["Title"] = "Client side State Management using Query String";
}

<h1>@ViewData["Title"]</h1>

@{
    var name = ViewBag.Name;
    var age = ViewBag.Age;
}
<h2>Name: @name</h2>
<h2>Age: @age</h2>
